body{
    margin: 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    background-color: rgb(30, 173, 173);
    color: white;
}
.navbar-container a{
    color: white;
    text-decoration: none;
}
.navbar-container ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
/* Profile layout */
.profile{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}
.profileDetails{
    grid-column: 1 / 7;
    background-color: rgba(231, 223, 223, 0.945);
    min-height: 100vh;
    padding: 30px 15px;
}
.profilePhoto{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid green;
}
.profileLinks{
    list-style: none;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profileLinks a{
    text-decoration: none;
    font-size: 18px;
}
.active{
    color: orange;
}

.profile-outlet-container{
    padding: 30px 15px;
    grid-column: 7 / 13;
}


.settings form input{
    margin-bottom: 15px;
    padding: 8px 4px;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
}